# <font color="purple"><h3 align="center">Different Ways Of Creating Dataframe</h3></font>

## <font color="green">Using csv</h3></font>

In [14]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [19]:
data1 = [
    (10,5,6),
    (11,13,1),
    (12,9,8),
    (11,4,7)
]
data1

[(10, 5, 6), (11, 13, 1), (12, 9, 8), (11, 4, 7)]

In [24]:
df1=pd.DataFrame(data=data1, columns = ['Mon','Tue','Wed'],\
                 index=['Mango','Jackfruit','W.Melon','Pineapple'])
df1

           Mon  Tue  Wed
Mango       10    5    6
Jackfruit   11   13    1
W.Melon     12    9    8
Pineapple   11    4    7

## <font color="green">Using excel</h3></font>

In [9]:
df=pd.read_excel("weather_data.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

## <font color="green">Using dictionary</h3></font>

In [25]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## <font color="green">Using tuples list</h3></font>

In [11]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(data=weather_data, \
                  columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## <font color="green">Using list of dictionaries</h3></font>

In [26]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(data=weather_data, columns=['date','temperature','windspeed','event'])
df

   date  temperature  windspeed  event
0   NaN           32          6   Rain
1   NaN           35          7  Sunny
2   NaN           28          2   Snow